{% extends "base.html" %}
{% block content %}


        <div class="card about">
            <h1 class="center-align">Stock Portfolio Manager
            </h1>

            <div class="row">
                <hr>
                <div class="col s12">
                    <h4><strong>About</strong></h4>
                    <div class="col card s12">
                        <p>
                            Hi, my name is Tomer.
                        </p>

                    </div>


                    <h4><strong>Get in touch</strong></h4>

                    <div class="col card s12">
                        <ul>
                            <li class="">Email: <a href="mailto:tomeros@gmail.com">Tomeros@gmail.com</a></li>
                            <li class="">Linkedin: <a href="https://www.linkedin.com/in/tomer-chaim-3707a112a/">Tomer
                                Chaim</a></li>
                            <li class="">GitHub: <a href="https://github.com/AcrobaticPanicc">AcrobaticPanicc</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>





{% endblock content %}