{% extends "base.html" %}
{% block content %}

    <div class="card login-form-card center-align z-depth-3">
        <div class="row login-form">

            <form method="post" action="">
                {{ form.csrf_token }}
                <section class="form-head">
                    <h1 class="center-align">Login</h1>
                    <h6 class="center-align">Don't have an account? <a href="{{ url_for('stocks.register') }}">Register
                        here</a>
                    </h6>
                    <hr>
                </section>


                <div class="row">
                    <div class="input-field col s12">
                        {{ form.username.label }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ form.username.label }}
                                {{ form.username(class="validate invalid") }}
                                <span class="helper-text invalid" data-error="{{ error }}"></span>
                            {% endfor %}
                        {% else %}
                            {{ form.username.label(class="validate") }}
                            {{ form.username }}
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                {{ form.password.label }}
                                {{ form.password(class="validate invalid") }}
                                <span class="helper-text invalid" data-error="{{ error }}"></span>
                            {% endfor %}
                        {% else %}
                            {{ form.password.label(class="validate") }}
                            {{ form.password }}
                        {% endif %}
                    </div>
                </div>
                <div class="row left-align col s12">
                    <a href="#">Forgot password?</a>
                </div>


                <div class="row right-align">
                    <div class="input-field col s12">
                        <label>
                            <input type="checkbox"/>
                            <span>Remember me?</span>
                        </label>
                        {{ form.submit(class="waves-effect waves-light btn", id="login-btn") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}