<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Stock Manager Pro</title>
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400">
    <link rel="stylesheet" href="../../static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../static/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled-1.css">
    <link rel="stylesheet" href="../../static/assets/css/untitled.css">
</head>

<body style="background-color: rgba(255,255,255,0);">
    <div class="card"></div>
    <main class="page registration-page" style="padding-top: 60px;">
        <section class="clean-block clean-form dark" style="padding-bottom: 29px;background-color: rgba(246,246,246,0);">
            <div class="container" style="box-shadow: 0px 0px;">
                <div class="block-heading" style="padding-top: 0px;margin-bottom: 19px;">
                    <h2 class="text-info">Sign up</h2>
                </div>
                <form method="post">
                    <div class="form-group" style="margin-bottom: 25px;"><label for="name" style="font-family: Montserrat, sans-serif;">Name</label><input class="form-control item" type="text" id="name" autofocus=""></div>
                    <div class="form-group" style="margin-bottom: 25px;"><label for="name">Last name</label><input class="form-control item" type="text" id="last-name"></div>
                    <div class="form-group" style="margin-bottom: 25px;"><label for="email">Email*</label><input class="form-control item" type="email" id="email" required="" maxlength="30"></div>
                    <div class="form-group" style="margin-bottom: 25px;"><label for="password">Password*</label><input class="form-control item" type="password" id="password" required="" minlength="5" maxlength="30"></div>
                    <div class="form-group" style="margin-bottom: 25px;"><label for="password">Confirm password*</label><input class="form-control item" type="password" id="password-1" required="" minlength="5" maxlength="30"></div>
                    <div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""><label class="form-check-label" for="formCheck-1">I agree to the Terms and Conditions</label></div>
                    </div><button class="btn btn-primary btn-block" type="submit" style="margin-top: 16px;">Sign Up</button></form>
            </div>
            <div style="text-align: center;margin-top: 8px;"><span style="font-size: 14px;">Already a member?<a href="login.html"> Log in</a></span></div>
        </section>
    </main>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../../static/assets/js/smoothproducts.min.js"></script>
    <script src="../../static/assets/js/theme.js"></script>
</body>

</html>