{% extends "base.html" %} {% block content %}

    <div class="card register-form-card center-align">
        <div class="row register-form">

            <form>
                <section class="form-head">
                    <h1 class="center-align">Sign up</h1>
                    <h6 class="center-align">Already a member? <a href="">Log in</a></h6>
                    <hr>
                </section>

                <div class="row">

                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate"/>
                        <label for="first_name">First Name</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate"/>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate"/>
                        <label for="password">Password<span class="required">*</span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate"/>
                        <label for="password">Re-enter password<span class="required">*</span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate"/>
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row right-align">
                    <div class="input-field col s12">

                        <label>
                            <input type="checkbox"/>
                            <span>I accept the <a href="">Terms and conditions</a></span>
                        </label>

                        <a class="waves-effect waves-light btn">Sign up</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock content %}
