#stocks-table {
    margin-top: 25px;
}

td.val.r {
    color: #ef7156;
}

td.val.g {
    color: #00b35c;
}

img {
    width: 16%
}

i.icon-red {
    color: #ed4345;
}


i.icon-red {
    display: none;
}

.content-row:hover .icon-red {
    display: block;
}

#delete-btn {
    cursor: pointer
}

button {
    padding: 0;
    border: none;
    background: none;
}

body {
    background-image: url('../img/pexels-photo-1055297.jpeg');
}

button:active {
    background-color: transparent;
}

blockquote {
    margin-left: 100px;
}

.action {
    color: transparent;
}

.total {
    color: white;
}

td {
    border-radius: 0;
}


.form-card{
    margin-right: 350px;
    margin-left: 350px;
    height: 700px;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 35px;
    margin-bottom: 20px;
}

.card {
    /*background: #e3dcdf;*/
    background: rgba(255, 255, 255, 0.9);
}

