#stocks-table {
    margin-top: 25px;
}

td.val.r {
    color: tomato;
}

td.val.g {
    color: #36be5a;
}

img {
    width: 16%
}

i.icon-red {
    color: #ed4345;
}


/*i.icon-red {*/
/*    display: none;*/
/*}*/

/*.content-row:hover .icon-red {*/
/*    display: block;*/
/*}*/


i.icon-red {
    display: none;
}

.content-row:hover .icon-red {
    display: block;
}
